<mat-sidenav-container>

  <mat-sidenav #sidenav mode="push">
    <div class="branding"><img [src]="logo" alt="logo"/>
      <span> Material Template </span></div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navigation" (click)="sidenav.close()" [routerLink]="[item.link]"
         routerLinkActive="active">{{ item.title }}</a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="wrapper">
    <div class="toolbar">

      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
            <fa-icon icon="bars"></fa-icon>
          </button>

          <span routerLink="" class="branding spacer center d-inline d-sm-none"><img [src]="logo" alt="logo"/> Material </span>
          <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none"><img [src]="logo" alt="logo"/> Material Template </span>
          <span routerLink="" class="branding spacer d-none d-md-inline"><img [src]="logo" alt="logo"/> Material Angular Template </span>

          <span class="d-none d-md-inline">
            <button mat-button class="nav-button" *ngFor="let item of navigation" [routerLink]="[item.link]"
                    routerLinkActive="active">
              {{ item.title }}
            </button>
          </span>

        </mat-toolbar-row>
      </mat-toolbar>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>

</mat-sidenav-container>
